{
  "awsAccessKeyId": "<awsAccessKeyId>",
  "awsSecretAccessKey": "<awsSecretAccessKey>",
  "project": "<project>",
  "awsRegion": "<awsRegion>",
  "bucketName": "<bucketName>",
  "environment": "<environment>"
}
